
h1 a{ /*inline element*/
    color: black;
    text-decoration: none;
}
li a{
    color: black;
}
#active {
    color: blue;
}

h1 { /*block level element*/
    border: 5px double black;
    /*
                display:inline;
                display:block;
                display:none;
                margin:블럭 밖의 거리px;
                padding:글자와 박스의 거리px;
            */
    color: black;
    font-size: 150px;
    margin: 0px;
    padding-bottom: 18px;
    text-align: center;
}

#grid {
    display: grid; /*grid안에 포함되는 태그들로 표를 만드는 grid*/
    grid-template-columns: 150px 1fr;
}
    #grid #mainText {
        padding-left: 25px;
        padding-right: 20px;
        border-left: solid black;
        max-width: 720px;
    }

img {
    max-width: 100%;
}

#mainText h2 {
    margin-top: 15px;
}

@media(max-width:550px) {
    h1 { /*block level element*/
        border: 5px double black;
        color: black;
        font-size: 100px;
        margin: 0px;
        padding-bottom: 18px;
        text-align: center;
    }

    #grid {
        display: block;
    }

        #grid .WEBindex {
            border-bottom: 2px solid black;
            margin-top: 0px;
            padding-bottom: 3px;
        }

        #grid #mainText {
            border: none;
        }
}
